html {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background: url("./Assets/back-img.png");
  background-size: cover;

}
